@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@200&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.top-of-nav {
  width: 100%;
  height: 37px;
  background: linear-gradient(260.33deg, #0047ff -13.37%, #00bcd4 109.53%);
}
.top-of-nav p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 5px;
}

.powerful-for-developers {
  width: 100%;
  height: 767px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url(../img/IMAGE.png), url(../img/IMAGE\ \(1\).png);
  background-position: right, left;
  background-repeat: no-repeat, no-repeat;
  background-position-y: -51px;
}
.powerful-for-developers .navbar {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.9;
  display: flex;
  justify-content: space-around;
}
.powerful-for-developers .navbar .nav_logo img {
  margin: 20px;
}
.powerful-for-developers .navbar .nav_list ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.powerful-for-developers .navbar .nav_list li {
  margin: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #848895;
}
.powerful-for-developers .powerful-item {
  display: flex;
  align-items: center;
  transform: translateY(160px);
  flex-direction: column;
}
.powerful-for-developers .powerful-item h1 {
  color: white;
  width: 777px;
  height: 76px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 76px;
  text-align: center;
  letter-spacing: 0.68px;
}
.powerful-for-developers .powerful-item p {
  color: white;
  width: 589px;
  height: 55px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;
  text-align: center;
  transform: translateY(55px);
}
.powerful-for-developers .powerful-item .button {
  display: flex;
  flex-direction: row;
  transform: translateY(80px);
}
.powerful-for-developers .powerful-item .button button {
  margin: 20px;
}
.powerful-for-developers .powerful-item .button .start-btn {
  width: 181px;
  height: 52px;
  background: linear-gradient(98.88deg, #8c01fa -2.99%, #000000 102.28%);
  border: 1px solid #000000;
  border-radius: 36px;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
}
.powerful-for-developers .powerful-item .button .read-btn {
  background: #000000;
  border: 1px solid #ffffff;
  border-radius: 36px;
  width: 146px;
  height: 52px;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.companies {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateY(-30px);
}
.companies p {
  width: 704px;
  height: 17px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #618adc;
}
.companies .companies-items {
  transform: translateY(32px);
  width: 1166.36px;
  margin-left: auto;
  margin-right: auto;
}
.companies .companies-items img {
  margin: 0 24px 0 12px;
}

.community {
  width: 100%;
  height: 1790px;
  background-image: url(./img/IMAGE\ \(3\).png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.community .community-item {
  display: flex;
  flex-direction: column;
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.community .community-item .community-item-top {
  height: 653px;
  display: flex;
  flex-direction: row;
}
.community .community-item .community-item-top .top-left {
  width: 570px;
  height: 573px;
  transform: translateY(178px);
}
.community .community-item .community-item-top .top-left p {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  width: 316px;
  height: 47px;
  letter-spacing: 1px;
  color: #ffffff;
}
.community .community-item .community-item-top .top-right {
  transform: translateY(108px);
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}
.community .community-item .community-item-top .top-right p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #c4c4c4;
}
.community .community-item .community-item-top .top-right .account {
  font-size: 101px;
  background: linear-gradient(261.81deg, #19fb9b 8.01%, #8c01fa 9%);
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  line-height: 132px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.community .community-item .community-item-top .top-right .nfts {
  font-size: 106px;
  background: linear-gradient(260.33deg, #0047ff -13.37%, #00bcd4 109.53%);
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  line-height: 132px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.community .community-item .community-item-top .top-right .cost {
  font-size: 110px;
  background: linear-gradient(265.11deg, #00ffbd -5.84%, #025b8c 111.58%);
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  line-height: 132px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.community .community-item-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform: translateY(270px);
}
.community .bottom-left {
  width: 340px;
}
.community .bottom-left h1 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  letter-spacing: 1px;
  color: #ffffff;
}
.community .bottom-left .blue-point {
  width: 4.29px;
  height: 4.47px;
  background: #1fcff1;
  border-radius: 50px;
  transform: translateY(6px);
}
.community .bottom-left .blue-point p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #c4c4c4;
  width: 82px;
  margin-left: 8px;
  transform: translateY(-5px);
}
.community .bottom-center .bottom-center-top {
  margin-left: auto;
  width: 340px;
  height: 308px;
  background: rgba(0, 0, 0, 0.28);
  border-radius: 24px;
}
.community .bottom-center .bottom-center-top .blue-rectangle {
  width: 36.29px;
  height: 2.47px;
  background: #1fcff1;
  border-radius: 50px;
  transform: rotate(90deg);
  margin-top: 3px;
}
.community .bottom-center .bottom-center-top h1 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  color: white;
  transform: translate(32px, 20px);
}
.community .bottom-center .bottom-center-top .blue-point {
  width: 4.29px;
  height: 4.47px;
  background: #1fcff1;
  border-radius: 50px;
  transform: translate(22px, 37px);
}
.community .bottom-center .bottom-center-top p {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #c4c4c4;
  width: 250px;
  height: 110px;
  margin-bottom: 27px;
  transform: translate(32px, 20px);
}
.community .bottom-center .bottom-center-bottom {
  margin-left: auto;
  width: 340px;
  height: 335px;
  background: rgba(0, 0, 0, 0.28);
  border-radius: 24px;
  padding-top: 5px;
  transform: translateY(9px);
}
.community .bottom-center .bottom-center-bottom .purple-rectangle {
  width: 36.29px;
  height: 2.47px;
  background: #af1ff1;
  border-radius: 50px;
  transform: rotate(90deg);
  margin-top: 34px;
}
.community .bottom-center .bottom-center-bottom h1 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  color: white;
  transform: translate(32px, -16px);
}
.community .bottom-center .bottom-center-bottom .blue-point {
  width: 4.29px;
  height: 4.47px;
  background: #1fcff1;
  border-radius: 50px;
  transform: translate(21px, 3px);
}
.community .bottom-center .bottom-center-bottom p {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #c4c4c4;
  width: 250px;
  height: 110px;
  margin-bottom: 47px;
  transform: translate(32px, -3px);
}
.community .bottom-right .bottom-right-top {
  margin-left: auto;
  width: 340px;
  height: 335px;
  background: rgba(0, 0, 0, 0.28);
  border-radius: 24px;
  padding-top: 5px;
  transform: translateY(-73px);
}
.community .bottom-right .bottom-right-top .yellow-rectangle {
  width: 36.29px;
  height: 2.47px;
  background: #e6f11f;
  border-radius: 50px;
  transform: rotate(90deg);
  margin-top: 34px;
}
.community .bottom-right .bottom-right-top h1 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  color: white;
  transform: translate(32px, -16px);
}
.community .bottom-right .bottom-right-top .blue-point {
  width: 4.29px;
  height: 4.47px;
  background: #1fcff1;
  border-radius: 50px;
  transform: translate(21px, 3px);
}
.community .bottom-right .bottom-right-top p {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #c4c4c4;
  width: 262px;
  height: 110px;
  margin-bottom: 47px;
  transform: translate(32px, -3px);
}
.community .bottom-right .bottom-right-bottom {
  margin-left: auto;
  width: 340px;
  height: 362px;
  background: rgba(0, 0, 0, 0.28);
  border-radius: 24px;
  padding-top: 5px;
  transform: translateY(-43px);
}
.community .bottom-right .bottom-right-bottom .green-rectangle {
  width: 36.29px;
  height: 2.47px;
  background: #148022;
  border-radius: 50px;
  transform: rotate(90deg);
  margin-top: 34px;
}
.community .bottom-right .bottom-right-bottom h1 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  color: white;
  transform: translate(32px, -16px);
}
.community .bottom-right .bottom-right-bottom .blue-point {
  width: 4.29px;
  height: 4.47px;
  background: #1fcff1;
  border-radius: 50px;
  transform: translate(21px, 3px);
}
.community .bottom-right .bottom-right-bottom p {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #c4c4c4;
  width: 292px;
  height: 110px;
  margin-bottom: 47px;
  transform: translate(32px, -3px);
}
.community .bottom-right .bottom-right-bottom p a {
  color: #148022;
}

.build .build-item {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.build .build-item .build-item-header {
  display: flex;
  justify-content: space-between;
}
.build .build-item .build-item-header p {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  line-height: 46px;
  letter-spacing: 1px;
  color: #ffffff;
}
.build .build-item .build-item-header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  transform: translateX(-33px);
}
.build .build-item .build-item-header ul li {
  margin-left: 16px;
}
.build .build-item .build-item-header ul li .nft {
  margin: 0 20px 0 20px;
  width: 64px;
  height: 48px;
  background: #111111;
  border: 1px solid #a962ff;
  border-radius: 15px;
  color: white;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  text-align: center;
}
.build .build-item .build-item-header ul li .defi {
  width: 62px;
  height: 48px;
  background: #111111;
  border: 1px solid #111111;
  border-radius: 15px;
  color: white;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  text-align: center;
}
.build .build-item .build-item-header ul li .pay {
  width: 98px;
  height: 48px;
  background: #111111;
  border: 1px solid #111111;
  border-radius: 15px;
  color: white;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  text-align: center;
}
.build .build-item .build-item-header ul li .game {
  width: 83px;
  height: 48px;
  background: #111111;
  border: 1px solid #111111;
  border-radius: 15px;
  color: white;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  text-align: center;
}
.build .build-item .build-item-header ul li .dao {
  width: 71px;
  height: 48px;
  background: #111111;
  border: 1px solid #111111;
  border-radius: 15px;
  color: white;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  text-align: center;
}
.build .build-item .build-item-main {
  width: 1100px;
  display: flex;
  flex-direction: row;
  transform: translateY(20px);
}
.build .build-item .build-item-main .main-left img {
  height: 100%;
}
.build .build-item .build-item-main .main-right {
  background-color: rgb(38, 37, 37);
  width: 600px;
}
.build .build-item .build-item-main .main-right img {
  transform: translate(30px, 50px);
}
.build .build-item .build-item-main .main-right p {
  transform: translate(15px, 70px);
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;
  width: 439px;
  color: #ffffff;
  text-align: start;
  padding: 15px;
}
.build .build-item .build-item-main .main-right .purple-p {
  color: #a962ff;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;
}
.build .build-item .build-item-footer {
  width: 1100px;
  transform: translateY(60px);
  background: rgba(38, 31, 38, 0.3);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
}

.join-community {
  width: 100%;
  background-image: url(./img/IMAGE\ \(8\).png);
  background-repeat: no-repeat;
  height: 856px;
}
.join-community .join-item {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  transform: translateY(160px);
}
.join-community .join-item h1 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  letter-spacing: 1px;
  width: 469px;
  color: #FFFFFF;
  transform: translateX(20px);
}
.join-community .image {
  transform: translateY(190px);
}
.join-community .image img {
  width: 100%;
}
.join-community .join-bottom {
  transform: translateY(210px);
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.join-community .join-bottom h1 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
  width: 825px;
}
.join-community .join-bottom button {
  width: 181px;
  height: 52px;
  background: linear-gradient(98.88deg, #8c01fa -2.99%, #000000 102.28%);
  border: 1px solid #000000;
  border-radius: 36px;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  transform: translateY(30px);
}

footer {
  width: 100%;
  height: 383px;
  display: flex;
  align-items: center;
}
footer .footer-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
footer .footer-main .managed h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #FFFFFF;
  padding-top: 15px;
  padding-bottom: 20px;
}
footer .footer-main .managed p {
  color: #848895;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}
footer .footer-main .solona h2 {
  font-family: "Helvetica";
  font-style: normal;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}
footer .footer-main .solona p {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #848895;
  padding-bottom: 10px;
  padding-top: 10px;
}
footer .footer-main .connected h2 {
  font-family: "Helvetica";
  font-style: normal;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}
footer .footer-main .connected p {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #848895;
  padding-bottom: 10px;
  padding-top: 10px;
}
footer .footer-main .logo {
  display: flex;
  flex-direction: row;
}
footer .footer-main .logo img {
  width: 19px;
  height: 20px;
}
footer .footer-main .logo p {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #848895;
  padding-left: 5px;
  transform: translateY(-3px);
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
  .top-of-nav {
    min-width: 1197px;
    height: 37px;
    background: linear-gradient(260.33deg, #0047ff -13.37%, #00bcd4 109.53%);
  }
  .top-of-nav p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 5px;
  }
  .powerful-for-developers {
    min-width: 1197px;
    height: 767px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url(../img/IMAGE.png), url(../img/IMAGE\ \(1\).png);
    background-position: right, left;
    background-repeat: no-repeat, no-repeat;
    background-position-y: -51px;
  }
  .powerful-for-developers .navbar {
    min-width: 1194px;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
    display: flex;
    justify-content: space-around;
  }
  .powerful-for-developers .navbar .nav_logo img {
    margin: 20px;
  }
  .powerful-for-developers .navbar .nav_list ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  .powerful-for-developers .navbar .nav_list li {
    margin: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #848895;
  }
  .powerful-for-developers .powerful-item {
    display: flex;
    align-items: center;
    transform: translateY(160px);
    flex-direction: column;
  }
  .powerful-for-developers .powerful-item h1 {
    color: white;
    width: 777px;
    height: 76px;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 76px;
    text-align: center;
    letter-spacing: 0.68px;
  }
  .powerful-for-developers .powerful-item p {
    color: white;
    width: 589px;
    height: 55px;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    text-align: center;
    transform: translateY(55px);
  }
  .powerful-for-developers .powerful-item .button {
    display: flex;
    flex-direction: row;
    transform: translateY(80px);
  }
  .powerful-for-developers .powerful-item .button button {
    margin: 20px;
  }
  .powerful-for-developers .powerful-item .button .start-btn {
    width: 171px;
    height: 52px;
    background: linear-gradient(98.88deg, #8c01fa -2.99%, #000000 102.28%);
    border: 1px solid #000000;
    border-radius: 36px;
    color: white;
    font-family: "Roboto";
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
  }
  .powerful-for-developers .powerful-item .button .read-btn {
    background: #000000;
    border: 1px solid #ffffff;
    border-radius: 36px;
    width: 140px;
    height: 52px;
    color: white;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
  }
  .companies {
    min-width: 1194px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(-30px);
  }
  .companies p {
    width: 704px;
    height: 17px;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #618adc;
  }
  .companies .companies-items {
    transform: translateY(32px);
    width: 899px;
    margin-left: auto;
  }
  .companies .companies-items img {
    margin: 0 24px 0 12px;
  }
  .community {
    min-width: 1197px;
    height: 1790px;
    background-image: url(./img/IMAGE\ \(3\).png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .community .community-item {
    display: flex;
    flex-direction: column;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  .community .community-item .community-item-top {
    height: 653px;
    display: flex;
    flex-direction: row;
  }
  .community .community-item .community-item-top .top-left {
    width: 570px;
    height: 573px;
    transform: translateY(178px);
  }
  .community .community-item .community-item-top .top-left p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 46px;
    width: 316px;
    height: 47px;
    letter-spacing: 1px;
    color: #ffffff;
  }
  .community .community-item .community-item-top .top-right {
    transform: translateY(108px);
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
  }
  .community .community-item .community-item-top .top-right p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #c4c4c4;
  }
  .community .community-item .community-item-top .top-right .account {
    font-size: 97px;
    background: linear-gradient(261.81deg, #19fb9b 8.01%, #8c01fa 9%);
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    line-height: 132px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .community .community-item .community-item-top .top-right .nfts {
    font-size: 97px;
    background: linear-gradient(260.33deg, #0047ff -13.37%, #00bcd4 109.53%);
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    line-height: 132px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .community .community-item .community-item-top .top-right .cost {
    font-size: 97px;
    background: linear-gradient(265.11deg, #00ffbd -5.84%, #025b8c 111.58%);
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    line-height: 132px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .community .community-item-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: translateY(270px);
  }
  .community .bottom-left {
    width: 340px;
  }
  .community .bottom-left h1 {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 46px;
    letter-spacing: 1px;
    color: #ffffff;
  }
  .community .bottom-left .blue-point {
    width: 4.29px;
    height: 4.47px;
    background: #1fcff1;
    border-radius: 50px;
    transform: translateY(6px);
  }
  .community .bottom-left .blue-point p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
    color: #c4c4c4;
    width: 82px;
    margin-left: 8px;
    transform: translateY(-5px);
  }
  .community .bottom-center .bottom-center-top {
    margin-left: auto;
    width: 340px;
    height: 308px;
    background: rgba(0, 0, 0, 0.28);
    border-radius: 24px;
  }
  .community .bottom-center .bottom-center-top .blue-rectangle {
    width: 36.29px;
    height: 2.47px;
    background: #1fcff1;
    border-radius: 50px;
    transform: rotate(90deg);
    margin-top: 3px;
  }
  .community .bottom-center .bottom-center-top h1 {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    color: white;
    transform: translate(32px, 20px);
  }
  .community .bottom-center .bottom-center-top .blue-point {
    width: 4.29px;
    height: 4.47px;
    background: #1fcff1;
    border-radius: 50px;
    transform: translate(22px, 37px);
  }
  .community .bottom-center .bottom-center-top p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #c4c4c4;
    width: 250px;
    height: 110px;
    margin-bottom: 27px;
    transform: translate(32px, 20px);
  }
  .community .bottom-center .bottom-center-bottom {
    margin-left: auto;
    width: 340px;
    height: 335px;
    background: rgba(0, 0, 0, 0.28);
    border-radius: 24px;
    padding-top: 5px;
    transform: translateY(9px);
  }
  .community .bottom-center .bottom-center-bottom .purple-rectangle {
    width: 36.29px;
    height: 2.47px;
    background: #af1ff1;
    border-radius: 50px;
    transform: rotate(90deg);
    margin-top: 34px;
  }
  .community .bottom-center .bottom-center-bottom h1 {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    color: white;
    transform: translate(32px, -16px);
  }
  .community .bottom-center .bottom-center-bottom .blue-point {
    width: 4.29px;
    height: 4.47px;
    background: #1fcff1;
    border-radius: 50px;
    transform: translate(21px, 3px);
  }
  .community .bottom-center .bottom-center-bottom p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #c4c4c4;
    width: 250px;
    height: 110px;
    margin-bottom: 47px;
    transform: translate(32px, -3px);
  }
  .community .bottom-right .bottom-right-top {
    margin-left: auto;
    width: 340px;
    height: 335px;
    background: rgba(0, 0, 0, 0.28);
    border-radius: 24px;
    padding-top: 5px;
    transform: translateY(-73px);
  }
  .community .bottom-right .bottom-right-top .yellow-rectangle {
    width: 36.29px;
    height: 2.47px;
    background: #e6f11f;
    border-radius: 50px;
    transform: rotate(90deg);
    margin-top: 34px;
  }
  .community .bottom-right .bottom-right-top h1 {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    color: white;
    transform: translate(32px, -16px);
  }
  .community .bottom-right .bottom-right-top .blue-point {
    width: 4.29px;
    height: 4.47px;
    background: #1fcff1;
    border-radius: 50px;
    transform: translate(21px, 3px);
  }
  .community .bottom-right .bottom-right-top p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #c4c4c4;
    width: 262px;
    height: 110px;
    margin-bottom: 47px;
    transform: translate(32px, -3px);
  }
  .community .bottom-right .bottom-right-bottom {
    margin-left: auto;
    width: 340px;
    height: 362px;
    background: rgba(0, 0, 0, 0.28);
    border-radius: 24px;
    padding-top: 5px;
    transform: translateY(-43px);
  }
  .community .bottom-right .bottom-right-bottom .green-rectangle {
    width: 36.29px;
    height: 2.47px;
    background: #148022;
    border-radius: 50px;
    transform: rotate(90deg);
    margin-top: 34px;
  }
  .community .bottom-right .bottom-right-bottom h1 {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    color: white;
    transform: translate(32px, -16px);
  }
  .community .bottom-right .bottom-right-bottom .blue-point {
    width: 4.29px;
    height: 4.47px;
    background: #1fcff1;
    border-radius: 50px;
    transform: translate(21px, 3px);
  }
  .community .bottom-right .bottom-right-bottom p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #c4c4c4;
    width: 292px;
    height: 110px;
    margin-bottom: 47px;
    transform: translate(32px, -3px);
  }
  .community .bottom-right .bottom-right-bottom p a {
    color: #148022;
  }
  .build {
    min-width: 1197px;
  }
  .build .build-item {
    width: 1134px;
    margin-left: auto;
    margin-right: auto;
  }
  .build .build-item .build-item-header {
    display: flex;
    justify-content: space-between;
  }
  .build .build-item .build-item-header p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: 1px;
    color: #ffffff;
  }
  .build .build-item .build-item-header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    transform: translateX(-33px);
  }
  .build .build-item .build-item-header ul li {
    margin-left: 16px;
  }
  .build .build-item .build-item-header ul li .nft {
    margin: 0 20px 0 20px;
    width: 64px;
    height: 48px;
    background: #111111;
    border: 1px solid #a962ff;
    border-radius: 15px;
    color: white;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
  }
  .build .build-item .build-item-header ul li .defi {
    width: 62px;
    height: 48px;
    background: #111111;
    border: 1px solid #111111;
    border-radius: 15px;
    color: white;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
  }
  .build .build-item .build-item-header ul li .pay {
    width: 98px;
    height: 48px;
    background: #111111;
    border: 1px solid #111111;
    border-radius: 15px;
    color: white;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
  }
  .build .build-item .build-item-header ul li .game {
    width: 83px;
    height: 48px;
    background: #111111;
    border: 1px solid #111111;
    border-radius: 15px;
    color: white;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
  }
  .build .build-item .build-item-header ul li .dao {
    width: 71px;
    height: 48px;
    background: #111111;
    border: 1px solid #111111;
    border-radius: 15px;
    color: white;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
  }
  .build .build-item .build-item-main {
    width: 1100px;
    display: flex;
    flex-direction: row;
    transform: translateY(20px);
  }
  .build .build-item .build-item-main .main-left img {
    height: 100%;
  }
  .build .build-item .build-item-main .main-right {
    background-color: rgb(38, 37, 37);
    width: 600px;
  }
  .build .build-item .build-item-main .main-right img {
    transform: translate(30px, 50px);
  }
  .build .build-item .build-item-main .main-right p {
    transform: translate(15px, 70px);
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    width: 439px;
    color: #ffffff;
    text-align: start;
    padding: 15px;
  }
  .build .build-item .build-item-main .main-right .purple-p {
    color: #a962ff;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
  }
  .build .build-item .build-item-footer {
    width: 1100px;
    transform: translateY(60px);
    background: rgba(38, 31, 38, 0.3);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
  }
  .join-community {
    min-width: 1197px;
    background-image: url(./img/IMAGE\ \(8\).png);
    background-repeat: no-repeat;
    height: 856px;
  }
  .join-community .join-item {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    transform: translateY(160px);
  }
  .join-community .join-item h1 {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: 1px;
    width: 469px;
    color: #FFFFFF;
    transform: translateX(20px);
  }
  .join-community .image {
    transform: translateY(190px);
  }
  .join-community .image img {
    width: 100%;
  }
  .join-community .join-bottom {
    transform: translateY(230px);
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .join-community .join-bottom h1 {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    width: 825px;
  }
  .join-community .join-bottom button {
    width: 181px;
    height: 52px;
    background: linear-gradient(98.88deg, #8c01fa -2.99%, #000000 102.28%);
    border: 1px solid #000000;
    border-radius: 36px;
    color: white;
    font-family: "Roboto";
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    transform: translateY(30px);
  }
  footer {
    min-width: 1197px;
    height: 383px;
    display: flex;
    align-items: center;
  }
  footer .footer-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    color: white;
  }
  footer .footer-main .managed h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  footer .footer-main .managed p {
    color: #848895;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }
  footer .footer-main .solona h2 {
    font-family: "Helvetica";
    font-style: normal;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  footer .footer-main .solona p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #848895;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  footer .footer-main .connected h2 {
    font-family: "Helvetica";
    font-style: normal;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  footer .footer-main .connected p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #848895;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  footer .footer-main .logo {
    display: flex;
    flex-direction: row;
  }
  footer .footer-main .logo img {
    width: 19px;
    height: 20px;
  }
  footer .footer-main .logo p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #848895;
    padding-left: 5px;
    transform: translateY(-3px);
  }
}
@media screen and (min-width: 320px) and (max-width: 991px) {
  .top-of-nav {
    min-width: 1201.5px;
    height: 37px;
    background: linear-gradient(260.33deg, #0047ff -13.37%, #00bcd4 109.53%);
  }
  .top-of-nav p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 5px;
  }
  .powerful-for-developers {
    min-width: 1201.5px;
    height: 767px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url(./img/IMAGE.png), url(./img/IMAGE\ \(1\).png);
    background-position: right, left;
    background-repeat: no-repeat, no-repeat;
    background-position-y: -51px;
  }
  .powerful-for-developers .navbar {
    min-width: 1201.5px;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
    display: flex;
    justify-content: space-around;
  }
  .powerful-for-developers .navbar .nav_logo img {
    margin: 20px;
  }
  .powerful-for-developers .navbar .nav_list ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  .powerful-for-developers .navbar .nav_list li {
    margin: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #848895;
  }
  .powerful-for-developers .powerful-item {
    display: flex;
    align-items: center;
    transform: translateY(160px);
    flex-direction: column;
  }
  .powerful-for-developers .powerful-item h1 {
    color: white;
    width: 777px;
    height: 76px;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 76px;
    text-align: center;
    letter-spacing: 0.68px;
  }
  .powerful-for-developers .powerful-item p {
    color: white;
    width: 589px;
    height: 55px;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 27px;
    text-align: center;
    transform: translateY(55px);
  }
  .powerful-for-developers .powerful-item .button {
    display: flex;
    flex-direction: column;
    transform: translateY(80px);
  }
  .powerful-for-developers .powerful-item .button .start-btn {
    width: 181px;
    height: 52px;
    background: linear-gradient(98.88deg, #8c01fa -2.99%, #000000 102.28%);
    border: 1px solid #000000;
    border-radius: 36px;
    color: white;
    font-family: "Roboto";
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
  }
  .powerful-for-developers .powerful-item .button .read-btn {
    background: #000000;
    border: 1px solid #ffffff;
    border-radius: 36px;
    width: 181px;
    height: 52px;
    color: white;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
  }
  .companies {
    min-width: 1201.5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(-30px);
  }
  .companies p {
    width: 704px;
    height: 17px;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #618adc;
  }
  .companies .companies-items {
    transform: translateY(32px);
    width: 1166.36px;
    margin-left: auto;
    margin-right: auto;
  }
  .companies .companies-items img {
    margin: 0 24px 0 12px;
  }
  .community {
    min-width: 1201.5px;
    height: 1790px;
    background-image: url(./img/IMAGE\ \(3\).png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .community .community-item {
    display: flex;
    flex-direction: column;
    width: 937px;
    margin-left: auto;
    margin-right: auto;
  }
  .community .community-item .community-item-top {
    height: 653px;
    display: flex;
    flex-direction: row;
  }
  .community .community-item .community-item-top .top-left {
    width: 570px;
    height: 573px;
    transform: translateY(178px);
  }
  .community .community-item .community-item-top .top-left p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 46px;
    width: 316px;
    height: 47px;
    letter-spacing: 1px;
    color: #ffffff;
  }
  .community .community-item .community-item-top .top-right {
    transform: translateY(108px);
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
  }
  .community .community-item .community-item-top .top-right p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #c4c4c4;
  }
  .community .community-item .community-item-top .top-right .account {
    font-size: 101px;
    background: linear-gradient(261.81deg, #19fb9b 8.01%, #8c01fa 9%);
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    line-height: 132px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .community .community-item .community-item-top .top-right .nfts {
    font-size: 106px;
    background: linear-gradient(260.33deg, #0047ff -13.37%, #00bcd4 109.53%);
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    line-height: 132px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .community .community-item .community-item-top .top-right .cost {
    font-size: 110px;
    background: linear-gradient(265.11deg, #00ffbd -5.84%, #025b8c 111.58%);
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    line-height: 132px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .community .community-item-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: translateY(270px);
  }
  .community .bottom-left {
    width: 340px;
  }
  .community .bottom-left h1 {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: 1px;
    color: #ffffff;
  }
  .community .bottom-left .blue-point {
    width: 4.29px;
    height: 4.47px;
    background: #1fcff1;
    border-radius: 50px;
    transform: translateY(6px);
  }
  .community .bottom-left .blue-point p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #c4c4c4;
    width: 82px;
    margin-left: 8px;
    transform: translateY(-5px);
  }
  .community .bottom-center .bottom-center-top {
    margin-left: auto;
    width: 340px;
    height: 308px;
    background: rgba(0, 0, 0, 0.28);
    border-radius: 24px;
  }
  .community .bottom-center .bottom-center-top .blue-rectangle {
    width: 36.29px;
    height: 2.47px;
    background: #1fcff1;
    border-radius: 50px;
    transform: rotate(90deg);
    margin-top: 3px;
  }
  .community .bottom-center .bottom-center-top h1 {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    color: white;
    transform: translate(32px, 20px);
  }
  .community .bottom-center .bottom-center-top .blue-point {
    width: 4.29px;
    height: 4.47px;
    background: #1fcff1;
    border-radius: 50px;
    transform: translate(22px, 37px);
  }
  .community .bottom-center .bottom-center-top p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #c4c4c4;
    width: 250px;
    height: 110px;
    margin-bottom: 27px;
    transform: translate(32px, 20px);
  }
  .community .bottom-center .bottom-center-bottom {
    margin-left: auto;
    width: 340px;
    height: 335px;
    background: rgba(0, 0, 0, 0.28);
    border-radius: 24px;
    padding-top: 5px;
    transform: translateY(9px);
  }
  .community .bottom-center .bottom-center-bottom .purple-rectangle {
    width: 36.29px;
    height: 2.47px;
    background: #af1ff1;
    border-radius: 50px;
    transform: rotate(90deg);
    margin-top: 34px;
  }
  .community .bottom-center .bottom-center-bottom h1 {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: white;
    transform: translate(32px, -16px);
  }
  .community .bottom-center .bottom-center-bottom .blue-point {
    width: 4.29px;
    height: 4.47px;
    background: #1fcff1;
    border-radius: 50px;
    transform: translate(21px, 3px);
  }
  .community .bottom-center .bottom-center-bottom p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #c4c4c4;
    width: 250px;
    height: 110px;
    margin-bottom: 47px;
    transform: translate(32px, -3px);
  }
  .community .bottom-right .bottom-right-top {
    margin-left: auto;
    width: 340px;
    height: 335px;
    background: rgba(0, 0, 0, 0.28);
    border-radius: 24px;
    padding-top: 5px;
    transform: translateY(-73px);
  }
  .community .bottom-right .bottom-right-top .yellow-rectangle {
    width: 36.29px;
    height: 2.47px;
    background: #e6f11f;
    border-radius: 50px;
    transform: rotate(90deg);
    margin-top: 34px;
  }
  .community .bottom-right .bottom-right-top h1 {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: white;
    transform: translate(32px, -16px);
  }
  .community .bottom-right .bottom-right-top .blue-point {
    width: 4.29px;
    height: 4.47px;
    background: #1fcff1;
    border-radius: 50px;
    transform: translate(21px, 3px);
  }
  .community .bottom-right .bottom-right-top p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #c4c4c4;
    width: 262px;
    height: 110px;
    margin-bottom: 47px;
    transform: translate(32px, -3px);
  }
  .community .bottom-right .bottom-right-bottom {
    margin-left: auto;
    width: 340px;
    height: 362px;
    background: rgba(0, 0, 0, 0.28);
    border-radius: 24px;
    padding-top: 5px;
    transform: translateY(-43px);
  }
  .community .bottom-right .bottom-right-bottom .green-rectangle {
    width: 36.29px;
    height: 2.47px;
    background: #148022;
    border-radius: 50px;
    transform: rotate(90deg);
    margin-top: 34px;
  }
  .community .bottom-right .bottom-right-bottom h1 {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: white;
    transform: translate(32px, -16px);
  }
  .community .bottom-right .bottom-right-bottom .blue-point {
    width: 4.29px;
    height: 4.47px;
    background: #1fcff1;
    border-radius: 50px;
    transform: translate(21px, 3px);
  }
  .community .bottom-right .bottom-right-bottom p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #c4c4c4;
    width: 292px;
    height: 110px;
    margin-bottom: 47px;
    transform: translate(32px, -3px);
  }
  .community .bottom-right .bottom-right-bottom p a {
    color: #148022;
  }
  .build {
    min-width: 1201.5px;
  }
  .build .build-item {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
  .build .build-item .build-item-header {
    display: flex;
    justify-content: space-between;
  }
  .build .build-item .build-item-header p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    letter-spacing: 1px;
    color: #ffffff;
  }
  .build .build-item .build-item-header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    transform: translateX(-33px);
  }
  .build .build-item .build-item-header ul li {
    margin-left: 16px;
  }
  .build .build-item .build-item-header ul li .nft {
    margin: 0 20px 0 20px;
    width: 64px;
    height: 48px;
    background: #111111;
    border: 1px solid #a962ff;
    border-radius: 15px;
    color: white;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    text-align: center;
  }
  .build .build-item .build-item-header ul li .defi {
    width: 62px;
    height: 48px;
    background: #111111;
    border: 1px solid #111111;
    border-radius: 15px;
    color: white;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    text-align: center;
  }
  .build .build-item .build-item-header ul li .pay {
    width: 98px;
    height: 48px;
    background: #111111;
    border: 1px solid #111111;
    border-radius: 15px;
    color: white;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    text-align: center;
  }
  .build .build-item .build-item-header ul li .game {
    width: 83px;
    height: 48px;
    background: #111111;
    border: 1px solid #111111;
    border-radius: 15px;
    color: white;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    text-align: center;
  }
  .build .build-item .build-item-header ul li .dao {
    width: 71px;
    height: 48px;
    background: #111111;
    border: 1px solid #111111;
    border-radius: 15px;
    color: white;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    text-align: center;
  }
  .build .build-item .build-item-main {
    width: 1100px;
    display: flex;
    flex-direction: row;
    transform: translateY(20px);
  }
  .build .build-item .build-item-main .main-left img {
    height: 100%;
  }
  .build .build-item .build-item-main .main-right {
    background-color: rgb(38, 37, 37);
    width: 600px;
  }
  .build .build-item .build-item-main .main-right img {
    transform: translate(30px, 50px);
  }
  .build .build-item .build-item-main .main-right p {
    transform: translate(15px, 70px);
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 27px;
    width: 439px;
    color: #ffffff;
    text-align: start;
    padding: 15px;
  }
  .build .build-item .build-item-main .main-right .purple-p {
    color: #a962ff;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 27px;
  }
  .build .build-item .build-item-footer {
    width: 1100px;
    transform: translateY(60px);
    background: rgba(38, 31, 38, 0.3);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
  }
  .join-community {
    min-width: 1201.5px;
    background-image: url(./img/IMAGE\ \(8\).png);
    background-repeat: no-repeat;
    height: 856px;
  }
  .join-community .join-item {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    transform: translateY(160px);
  }
  .join-community .join-item h1 {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 46px;
    letter-spacing: 1px;
    width: 469px;
    color: #FFFFFF;
    transform: translateX(20px);
  }
  .join-community .image {
    transform: translateY(190px);
  }
  .join-community .image img {
    width: 100%;
  }
  .join-community .join-bottom {
    transform: translateY(210px);
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .join-community .join-bottom h1 {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    width: 825px;
  }
  .join-community .join-bottom button {
    width: 181px;
    height: 52px;
    background: linear-gradient(98.88deg, #8c01fa -2.99%, #000000 102.28%);
    border: 1px solid #000000;
    border-radius: 36px;
    color: white;
    font-family: "Roboto";
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    transform: translateY(30px);
  }
  footer {
    min-width: 1201.5px;
    height: 383px;
    display: flex;
    align-items: center;
  }
  footer .footer-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    color: white;
  }
  footer .footer-main .managed h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  footer .footer-main .managed p {
    color: #848895;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }
  footer .footer-main .solona h2 {
    font-family: "Helvetica";
    font-style: normal;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  footer .footer-main .solona p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #848895;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  footer .footer-main .connected h2 {
    font-family: "Helvetica";
    font-style: normal;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  footer .footer-main .connected p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #848895;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  footer .footer-main .logo {
    display: flex;
    flex-direction: row;
  }
  footer .footer-main .logo img {
    width: 19px;
    height: 20px;
  }
  footer .footer-main .logo p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #848895;
    padding-left: 5px;
    transform: translateY(-3px);
  }
}

/*# sourceMappingURL=index.css.map */
